body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  border: 0;
  border-radius: var(--radius-2);
  padding: var(--border-size-3) var(--border-size-5);

  color: var(--text-1);
  background-color: var(--brand);
}

:root {
  --brand: var(--pink-9);

  --text-1: var(--gray-1);
  --text-2: var(--gray-2);

  --surface-1: var(--gray-9);
  --surface-2: var(--gray-8);
  --surface-3: var(--gray-7);
  --surface-4: var(--gray-6);
}
